absl-py==2.1.0
aes==1.2.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
alembic==1.15.1
annotated-types==0.7.0
anyio==4.8.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==25.3.0
Authlib==1.5.1
beautifulsoup4==4.13.3
bidict==0.23.1
bitarray==3.1.1
bleak==0.22.3
bleak-winrt==1.2.0
blinker==1.9.0
BTrees==6.1
build==1.2.2.post1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
ckzg==2.1.0
click==8.1.8
cmake==3.31.6
colorama==0.4.6
colorclass==2.2.2
coloredlogs==15.0.1
contourpy==1.3.1
coverage==7.6.12
crypto==1.4.1
cryptography==44.0.2
cycler==0.12.1
cytoolz==1.0.1
deepface==0.0.93
dlib==19.24.6
dnspython==2.7.0
docopt==0.6.2
dparse==0.6.4
ecdsa==0.19.1
email_validator==2.2.0
eth-account==0.13.5
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.6.1
eth-rlp==2.2.0
eth-typing==5.2.0
eth-utils==5.2.0
eth_abi==5.2.0
exceptiongroup==1.2.2
execnet==2.1.1
face-recognition==1.3.0
face_recognition_models==0.3.0
fastapi==0.115.11
fastjsonschema==2.21.1
filelock==3.16.1
fire==0.7.0
Flask==3.1.0
flask-cors==5.0.1
Flask-SocketIO==5.5.1
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.5.0
gast==0.6.0
gdown==5.2.0
gevent==24.11.1
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.71.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.13.0
hexbytes==1.3.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
humanfriendly==10.0
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.2.0
jax==0.5.2
jaxlib==0.5.1
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
jupytext==1.16.7
jwt==1.3.1
keras==3.9.0
kiwisolver==1.4.8
libclang==18.1.1
libusb1==3.3.0
loguru==0.7.0
lz4==4.4.3
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.1
mdit-py-plugins==0.4.2
mdurl==0.1.2
mediapipe==0.10.21
ml_dtypes==0.5.1
mtcnn==1.0.0
multidict==6.1.0
Naked==0.1.32
namex==0.0.8
nbformat==5.10.4
ndeflib==0.3.3
nfcpy==1.0.4
nltk==3.9.1
node==1.2.2
nodejs==0.1.1
numpy==1.26.4
odict==1.9.0
openapi==2.0.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt_einsum==3.4.0
optional-django==0.1.0
optree==0.14.1
packaging==24.2
paho-mqtt==2.1.0
pandas==2.2.3
parsimonious==0.10.0
passlib==1.7.4
persistent==6.1.1
pillow==11.1.0
pip-tools==7.4.1
pip-upgrader==1.4.15
platformdirs==4.3.7
playwright==1.50.0
pluggy==1.5.0
plumber==1.7
propcache==0.3.0
protobuf==4.25.6
psutil==6.1.1
pyasn1==0.4.8
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
pyDes==2.0.1
pyee==12.1.1
pyfingerprint==1.5
pyftdi==0.56.0
Pygments==2.19.1
PyJWT==2.10.1
pymercury==0.0.4
pyparsing==3.2.1
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pyscard==2.2.1
pyserial==3.5
PySocks==1.7.1
pytest==8.3.5
pytest-asyncio==0.25.3
pytest-cov==6.0.0
pytest-mock==3.12.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-engineio==4.11.2
python-jose==3.4.0
python-multipart==0.0.20
python-socketio==5.12.1
pytz==2025.1
pyunormalize==16.0.0
pyusb==1.3.1
pywin32==309
PyYAML==6.0.2
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
retina-face==0.0.17
rich==13.9.4
rlp==4.1.0
rpds-py==0.23.1
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
safety==3.3.1
safety-schemas==0.0.11
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.12.2
sentencepiece==0.2.0
shellescape==3.8.1
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
smartcard==0.3
sniffio==1.3.1
sounddevice==0.5.1
soupsieve==2.6
SQLAlchemy==2.0.39
starlette==0.46.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
terminaltables==3.1.10
threadpoolctl==3.6.0
tomli==2.2.1
toolz==1.0.0
tqdm==4.67.1
traitlets==5.14.3
transaction==5.0
typer==0.15.2
types-requests==2.32.0.20250306
typing_extensions==4.12.2
tzdata==2025.1
unicodecsv==0.14.1
urllib3==2.3.0
usb==0.0.83.dev0
uvicorn==0.34.0
watchfiles==1.0.4
web3==7.9.0
websocket==0.2.1
websockets==13.1
Werkzeug==3.1.3
win32_setctime==1.2.0
wrapt==1.17.2
wsproto==1.2.0
yarl==1.18.3
zc.lockfile==3.0.post1
ZConfig==4.2
ZODB==6.0
zodbpickle==4.2
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.1
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.1
zope.proxy==6.1
